<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
                </head>
                <body>
                    <div class="alert alert-success alert-dismissible" th:if="${UPLOAD_SUCCESS}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong th:text="${UPLOAD_SUCCESS}"></strong>
                    </div>
                    <div class="alert alert-danger alert-dismissible" th:if="${UPLOAD_FAIL}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong th:text="${UPLOAD_FAIL}"></strong>
                    </div>
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">
                            Import File Excel
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Import</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/api/csv/upload" method="post" enctype='multipart/form-data'>
                                            <div class="form-group">                                            
                                                <span><label class="form-label" for="customFile">Tập tin (CSV) *</label><input type="file" class="form-control" id="customFile" name="file"/></span>
                                            </div>           
                                            <button type="submit" class="btn btn-info">Upload</button>                                        
                                        </form>                                    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                                             

                    <!--EXCELFILE-->

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">keyNumber</th>
                                <th scope="col">Summary</th>
                                <th scope="col">Status</th>
                                <th scope="col">Status HS</th>
                                <th scope="col">NumOfEmp</th>
                                <th scope="col">NameOfEmp</th>
                                <th scope="col">Product</th>
                                <th scope="col">NameOfCus</th>
                                <th scope="col">PhoneNumber</th>
                                <th scope="col">GroupOfCus</th>
                                <th scope="col">Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div th:if="${EXCELFILE != null}">
                                <th:block th:each="draco, dracoState : ${EXCELFILE}">
                                    <tr>
                                        <td th:text="${dracoState.count}">1</td>                                        
                                        <td th:text="${draco.keyNumber}"></td>
                                        <td th:text="${draco.summary}"></td>                                        
                                        <td th:text="${draco.status}"></td>
                                        <td th:text="${draco.statusHS}"></td>
                                        <td th:text="${draco.numOfEmp}"></td>
                                        <td th:text="${draco.nameOfEmp}"></td>
                                        <td th:text="${draco.product}"></td>
                                        <td th:text="${draco.nameOfCus}"></td>
                                        <td th:text="${draco.phoneNumber}"></td>
                                        <td th:text="${draco.groupOfCus}"></td>
                                        <td th:text="${draco.location}"></td>                                       
                                    </tr>                                    
                                </th:block> 
                            </div>
                            <div th:if="${EXCELFILE == null}">
                                <p>Nothing to load</p>
                            </div>
                        </tbody>
                    </table>                   
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                </body>
                </html>
